<ion-view view-title="Login" name="login-view" hide-nav-bar="true">
  <ion-content>
  
  <div class="text-center"><img src="img/Construction_Data_Logo_2014.png" width="80%"></div>
  
  	<form name="loginForm" method="post" ng-submit="login(data, loginForm)" novalidate="novalidate">
      <div class="list list-inset">
      	
      	<span ng-show="submitted && loginForm.uname.$error.required" style="color:red">Enter Username !</span>
          <label class="item item-input">
              <input type="text" name="uname" placeholder="Username" ng-model="data.username" required="required"/>
          </label>
          
          <span ng-show="submitted && loginForm.password.$error.required" style="color:red">Enter Password !</span>
          <label class="item item-input">
              <input type="password" name="password" placeholder="Password" ng-model="data.password" required="required"/>
          </label>

      	<button type="submit" class="button button-block button-cdc-blue">LOG IN</button>
      </div>
      </form>
      
  </ion-content>
</ion-view>